footer {
  margin-top: 60px;
  padding: 30px 0;
  text-align: center;
}

footer p {
  color: #c4c4c4;
  margin: 10px auto;
  max-width: 50ch;
}
@media (max-width: 600px) {
  footer p {
    font-size: 14px;
  }
}
