* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fefbfb;
}

body {
  font-family: "Inter", sans-serif;
  color: #fefbfb;
  background-color: #13131f;
  margin: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: #8257e6;
  max-width: 80px;
  max-height: 20px;
  text-align: center;
  padding: 7px 10px;
  border-radius: 3px;
  transition: 0.3s;
}
.btn-hover:hover {
  background-color: #573d92;
  cursor: pointer;
}

.logo {
  color: #8257e6;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

#img-4 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(/img/A-Viagem-de-Chihiro.png);
}
#img-5 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(/img/a-rede-social.png);
}
#img-6 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(/img/Nar-Trailer.png);
}

#img-7 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(/img/naruto.png);
}

#img-8 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(/img/deadpool.png);
}

#img-9 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(/img/minecraft.png);
}

#img-10 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(/img/harry-potter.png);
}

#img-11 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(/img/supernatural.png);
}

#img-12 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(/img/Vidas-ao-Vento-Naoko.png);
}
#img-13 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(/img/GTA-5.png);
}

#img-14 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(/img/Vikings.png);
}

#img-15 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(/img/soul-disney.png);
}

#img-16 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(/img/your-name.png);
}

#img-17 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(/img/key-visual.png);
}

#img-18 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(/img/kid-goku-dragon-ball.png);
}

#img-19 {
  background-image: linear-gradient(
      360deg,
      #13131f 0%,
      rgba(19, 19, 31, 0) 100%
    ),
    url(/img/wp7947007\ 1.png);
}
