.wrapper-nav {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.wrapper-nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.wrapper-nav ul li {
  list-style-type: none;
}
.link-header {
  padding: 10px 15px;
  margin-right: 15px;
  color: #c4c4c4;
  position: relative;
}
.link-header:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #8257e6;
  margin-top: 4px;
  transition: 0.5s;
  position: absolute;
}

.link-header:hover {
  color: #fefbfb;
}
.link-header:hover:after {
  width: 100%;
}

.ativo {
  color: #fefbfb !important;
}

.ativo::after {
  width: 100% !important;
}

.btn-header {
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fefbfb;
  padding: 10px 25px;
  background-color: #13131f;
  border: 2px solid #8257e6;
  border-radius: 20px;
  transition: 0.3s;
}

.btn-header:hover {
  background-color: #8257e6;
  cursor: pointer;
}

@media (max-width: 600px) {
  .wrapper-nav {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .wrapper-nav ul {
    gap: 20px;
    justify-content: center;
  }
  .link-header {
    border: none;
    border-radius: 5px;
  }
  .link-header:hover {
    color: #fefbfb;
    border: none;
  }
  .link-header:after {
    display: none;
  }
}
