.wrapper-nav {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
}

.wrapper-nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.wrapper-nav ul li {
  list-style-type: none;
}
.wrapper-nav ul li a {
  padding: 10px 20px;
  margin-right: 15px;
  color: #c4c4c4;
}
.wrapper-nav ul li a:hover {
  color: #fefbfb;
  border-bottom: 2px solid #8257e6;
}

.wrapper-nav button {
  font-family: "Lexend Deca";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fefbfb;
  padding: 10px 25px;
  background-color: #13131f;
  border: 2px solid #8257e6;
  border-radius: 20px;
  transition: 0.3s;
}

.wrapper-nav button:hover {
  background-color: #8257e6;
  cursor: pointer;
}

@media (max-width: 600px) {
  .wrapper-nav {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .wrapper-nav ul {
    gap: 20px;
    justify-content: center;
  }
  .wrapper-nav ul li a {
    border: none;
    border-radius: none;
  }
  .wrapper-nav ul li a:hover {
    color: #fefbfb;
    border: none;
  }
}
