.introducao {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
  padding: 50px 0;
}

.introducao-conteudo {
  grid-column: 1/-1;
}

.introducao-conteudo h1 {
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 20px;
}

.introducao-conteudo p {
  width: 40ch;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #c4c4c4;
  margin-bottom: 50px;
}

.introducao-imagem {
  color: #fefbfb;
  min-height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 15px 30px;
  cursor: pointer;
  transition: all 0.5s;
}

.introducao-imagem:hover,
.introducao-imagem:focus {
  transform: scale(1.025);
}

@media (max-width: 600px) {
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao-imagem {
    display: none;
  }
  .introducao-imagem {
    min-height: 250px;
  }

  .introducao-imagem p {
    font-size: 13px;
    line-height: 20px;
  }

  .introducao-conteudo p {
    width: 100%;
  }
}
