.container-noticia {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

.container-noticia h1 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 55px;
}
.container-noticia h2 {
  color: #c4c4c4;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
}

.container-noticia p {
  color: #c4c4c4;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

.container-noticia img {
  max-height: 400px;
  object-fit: cover;
  width: 100%;
  display: block;
}

@media (max-width: 600px) {
  .container-noticia p {
    font-size: 18px;
    line-height: 30px;
  }
  .container-noticia h2 {
    font-size: 20px;
  }
}
